.body{
    width: 80%;
    margin-bottom: 10rem;
}
.trending-news{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.trend-top{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
}
.internation-news{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.internation-news a{
    color: black ;
}
.trend-img{
    width: 300px;
    height: 200px;
}
@media screen and (max-width:950px) {
    .trending-news h1{
        font-size: large;
    }
    .trend-top{
        display: grid;
        grid-template-columns: 1fr;
    }
}