.landing-nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 20px ;
}

.menu{
    display: flex;
    gap: 40px;
    align-items: center;
}
.nav-log{
    display: flex;
    gap: 20px
}

.menu a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: larger;
}
.menu button{
    padding: 10px 19px;
    background-color: green;
    border: 1px solid white;
    border-radius: 15px;
    cursor: pointer;
}
.mobile-menu{
    display: none;
}