.singlepost{
    background: linear-gradient(270deg, brown, yellow,green, white);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}
.post-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
    text-align: justify;
    border: 2px solid black;
    border-radius: 10px;
    padding: 25px;
    background-color: white;
}
.editpost{
    display: flex;
    gap: 50px;
}
.editpost button{
    border-radius: 15px;
    border: none;
    padding: 10px 17px;
    background-color: grey;
    color: white;
    font-weight: bold;
}
.reaction{
    display: flex;
    gap: 10rem;
    align-items: center;
    margin-top: 10px;
}
.reaction button{
    border: none;
    background-color: transparent;
}
.like, .dislike{
    display: flex;
    align-items: center;
}

@media screen and (max-width:950px) {
    .singlepost{
        width: 100%;
    }
    .post-content{
        width: 95%;
        padding: 10px;
    }
    .singlepost-top{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .singlepost-top h1{
        font-size: large;
    }
    .post-content img{
        width: 300px;
        height: 200px;
    }
    .editpost{
        display: flex;
        gap: 50px;
    }
    .editpost button{
        border-radius: 15px;
        border: none;
        padding: 10px 17px;
        background-color: grey;
        color: white;
        font-weight: bold;
    }
}