a{
    text-decoration: none;
    color: white;
}
nav{
    width: 15%;
    height: 100%;
    position: relative;
    left: -2.2px;
    background-color: green;
    display: flex;
    justify-content: space-between;
}

.destop-nav{
    display: flex;
    flex-direction: column;
}
.asid-top a{
    font-size: xx-large;
    font-weight: bold;
}
.nav-sub{
    width: 4%;
    background-color: green;
    border-radius: 20px;
}
.aside-btn{
    cursor: pointer;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 10px;
    padding: 2px;
}
.toggle{
    color: white;
}
.asid-top{
    display: flex;
    align-items: center;
    gap: 3rem;
    padding-left: 20px;
    height: 10vh;
    margin-bottom: 20px;
}
.log{
    display: none;
}

.list-sub{
    display: none;
}
.menu-items{
    display: flex;
    flex-direction: column;
    gap: 60px; 
}
.items{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
}
.active{
    background-color: rgb(156, 151, 151);
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    align-items: center;
}
.active::before{
    content: "";
    width: 5px;
    height: 100%;
    background-color: white;
    padding: 0;
}

.nav2{
    display: none;
}

.tog2{
    display: none;
}

@media screen and (max-width:950px) {
    .nav{
        display: none;
    }
    .aside-btn{
        display: none;
    }
    .nav2{
        display: block;
        width: 0%;
        position: absolute;
        overflow: hidden;
        left: 2%;
        height: 98vh;
        transition: 1s ease-in;
    }
    .nav2-sub{
        width: 50%;
        height: 98%;
        transition: 1s ease-in;
        overflow: hidden;
        position: absolute;
        border-radius: 20px;
        left: 2%;
        display: block;
    }

    .mobile-nav{
        display: flex;
        flex-direction: column;
    } 
    .mobile-nav .menu-items{
        gap: 20px;
    }  
    .tog2{
        background-color: transparent;
        border: 1px solid green;
        z-index: 100;
        position: absolute;
        top: 3%;
        right: 2%;
        display: block;
        color: green;
    }
}