a{
    text-decoration: none;
    color: white;
}
nav{
    width: 15%;
    height: 100vh;
    background-color: green;
}
.aside{
    width: 100%;
    height: 100%;
    background-color: green;
    
}
.destop-nav{
    display: flex;
    flex-direction: column;
}
.asid-top a{
    font-size: xx-large;
    font-weight: bold;
}
.nav-sub{
    width: 4%;
    background-color: green;
    border-radius: 20px;
}
.aside-btn{
    cursor: pointer;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 10px;
    padding: 2px;
}
.toggle{
    color: white;
}
.asid-top{
    display: flex;
    align-items: center;
    gap: 3rem;
    padding-left: 20px;
    height: 10vh;
    margin-bottom: 20px;
}
.log{
    display: none;
}

.list-sub{
    display: none;
}
.menu-items{
    display: flex;
    flex-direction: column;
    gap: 60px; 
}
.items{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
}
.active{
    background-color: rgb(156, 151, 151);
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    align-items: center;
}
.active::before{
    content: "";
    width: 5px;
    height: 100%;
    background-color: white;
    padding: 0;
}
.mobile-nav{
    display: none;
}

@media screen and (max-width:950px) {
    .destop-nav{
        display: none;
    }
    nav{
        width: 50%;
        position: absolute;
        left: 5px;
        height: 98%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        z-index: 100;
    }
    .mobile-nav{
        display: block;
    }
    .mobile{
        width: 100%;
    }   
    /* .mobile-aside{
        display: block;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
    } */
}