.board{
    display: flex;
    width: 100%;
    background: linear-gradient(106.37deg, #ffe1bc, #ffcfd1, #f3c6f1);
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.board-container{
    width: 98%;
    height: 98%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
}
.dashboard-center{
    display: flex;
    gap: 20px;
    width:100%;
    padding: 20px 10px;
    overflow: scroll;
}
.dashboard-view{
    width: 100%;
    display: flex;
}
.dashboard-center::-webkit-scrollbar{
    scroll-behavior: smooth;
    scroll-snap-type: none;
}
/* .mobile{
    display: none;
    width: 10% !important;
} */

.mobile-asid{
    display: none;
}
.menu-items2{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.items2{
    padding-left: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
}

@media screen and (max-width: 950px) {
    .dashboard-center{
        display: flex;
    }
    .mobile{
        display: block;
    }
    .dash-viewTop{
        width: 100%;
    }
    .dash-viewTop h1{
        font-size: large;
    }
    .dash-view{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}
