.update-container{
    overflow: scroll;
    display: flex;
    flex-direction: column;
    background-color:green;
    width: 25%;
    height: 102%;
    padding: 20px 0;

}
.update-title{
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
    color: white;
    position: static;
}
.update-container::-webkit-scrollbar{
    scroll-behavior: smooth;
    scroll-snap-type: none;
}
.sportupdate{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    align-items: center;
    margin: 10px 0 0 12px;
    padding: 15px;
}

.sportupdate:hover{
    background-color: white;
}
.sportupdatesub{
    display: flex;
    gap: 20px;
}
.sportupdate img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.like{
    display: flex;
    justify-content: space-around;
    width: 100%;
}