.aside{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    height: 100vh;
    background-color: green;
}
.aside-content a{
    text-decoration: none;
    color: black;
    font-size: large;
}
.aside-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    gap: 50px;
    height: 10vh;
}
.hamburger{
    cursor: pointer;
}
.aside-content{
    display: flex;
    flex-direction: column;
    gap: 80px;
    background-color: green;
    height: 90vh;
    margin-bottom: 20px;
    padding: 20px 0;
}
.dash-item{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 20px;
    font-weight: bold;
    /* padding: 10px 0 */
}
.dash-item:hover{
    cursor: pointer;
}
.active{
    background-color: white;
    display: flex;
    margin-left: 0;
    align-items: center;
    cursor: pointer;
    gap: 20px;
    font-weight: bold;
    /* padding: 10px 0; */
    
}
.active::before{
    content: "";
    width: 10px;
    height: 100%;
    background-color: blue;
}
