.forum-board{
    display: flex;
    width: 100%;
    background: linear-gradient(106.37deg, #ffe1bc, #ffcfd1, #f3c6f1);
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.forumboard-container{
    width: 98%;
    height: 98%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
}
.forum-container{
    display: flex;
    gap: 20px;
    flex-direction: column;
    width:100%;
    padding: 20px 10px;
    overflow: scroll;
}
.forum-container::-webkit-scrollbar{
    scroll-behavior: smooth;
    scroll-snap-type: none;
}
.forum-top{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px dashed green;
    padding: 10px;
    align-items: center;
}
.btns{
    width: 50%;
    display: flex;
    gap: 40px;
}
.forum-options{
    display: flex;
    align-items: center;
}
.forumdetails{
    width: 100%;
}
.forumdetails tr{
    text-align: left;
    width: 100%;
}
.subject-author{
    width: 80%;
}
.lastpost{
    width: 10%;
}
.Read{
    width: 10%; 
}

.newpost{
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: larger;
    padding: 10px 20px;
    border: none; 
    cursor: pointer; 
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.newpost:hover{
    background-color: rgb(174, 231, 174);
    color: green;
}
.toppost{
    background-color: white;
    color: green;
    font-weight: bold;
    font-size: larger;
    padding: 10px 20px;
    border: 1px solid green;
    cursor:pointer;
    border-radius: 20px;
}
.toppost a{
    text-decoration: none;
    color: green;
    font-weight: bold;
}
.toppost a:hover{
    color: white;
}
.toppost:hover{
    background-color: green;
    color: white;
}
.forum-search{
    background-color: green;
    display: flex;
    align-items: center;
    padding: 3px;
    border-radius: 20px;
    width: 30%;
}
.forum-search input{
    padding: 15px;
    width: 100%;
    border: none;
    background-color: white;
    outline: none;
    border-radius: 20px;
}
.author{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
    width: 90%;
}
.posted{
    width: 10%;
    /* background-color: blue; */
}
.row{
    width: 100%;
}
@media screen and (max-width: 950px) {
    .forum-container{
        width: 100%;
        flex-direction: column;
    }
    .forum-top .btns{
        display: flex;
        width: 100%;
        gap: 10px;
    }
    .btns button{
        font-size: 15px;
        padding: 5px 10px;
        font-weight: 200;
        border-radius: 4px;
    }
    .forum-top{
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }
    .forum-search{
        width: 100%;
    }
    .forum-search input{
        padding: 5px;
    }
    .forumdetails{
        width: 150%;
        overflow: scroll;
        font-size: 15px;
    }
    .row th{
        font-size: 16px;
    }
    .author{
        width: 100%;
    }
    .posted{
        width: 50%;
        text-align: center;
    }
    .over{
        overflow: scroll;
    }
    .over::-webkit-scrollbar{
        display: none;
    }
}
