.dashboard{
    display: flex;
    width: 100%;
    background: linear-gradient(106.37deg, #ffe1bc, #ffcfd1, #f3c6f1);
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.dashboard-content{
    width: 98%;
    height: 98%;
    display: grid;
    grid-template-columns: 13% auto 20%;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}
.dashboardleft{
    border: 1px solid black;
}
.topLeft{
    display: flex;
    justify-content: space-between;
}
.dashboardcentre{
    margin-left: 10rem;
    background-color: white;
    width: 100%;
}
.update{
    overflow: scroll;
    display: flex;
    flex-direction: column;
    background-color: green;

}
.update h1{
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
    color: white;
}
.update::-webkit-scrollbar{
    scroll-behavior: smooth;
    /* scroll-snap-type: none; */
}