.settings-board{
    display: flex;
    width: 100%;
    background: linear-gradient(106.37deg, #ffe1bc, #ffcfd1, #f3c6f1);
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.settingsboard-container{
    width: 98%;
    height: 98%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
}
.settings-container{
    display: flex;
    gap: 20px;
    flex-direction: column;
    width:100%;
    padding: 20px 10px;
    overflow: scroll;
}
.user-setting{
    width: 200px;
    height: 200px;
    color: lightgreen;
}
.settings-container::-webkit-scrollbar{
    scroll-behavior: smooth;
    scroll-snap-type: none;
}
.settings-details{
    display: flex;
    width: 70%;
    justify-content: space-between;
    font-size: x-large;
}
.account-reset{
    display: flex;
    gap: 5rem;
}
.account-reset a{
    color: green;
    font-weight: bold;
}